.sect{
  height: 20vh; 
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.sect a { 
  color: var(--secondary);
}

.padd {
  padding-bottom: 50px !important;
  font-size: 1rem !important;
  }


@media (max-width: 600px) {
  .padd {
    padding-bottom: 20px !important;  
  }

  .sect p {
  font-size: 11px !important;
  }
}




