
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


.navbar {

    background-color: #bcaaa4 ;
    padding: 0px 15px 0px 15px;
}

.navbar a {
    transition: color 0.5s ease;
}


.navbar a:hover {
    color: #FFAB91;;

}

.btnRsvp a{
    display: inline;
    padding: 10px 20px 10px 20px;
    border: .5px solid;


}